.Grid-table {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: black;
  height: 80vh;
}

.Grid-table-component {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: black;
  width: 1024px;
  height: 1024px;
}

.Grid-action input[type="button"] {
  border: 1px solid black;
  color: white;
  background-color: #6441a4;
  border-radius: 5px;
  height: 5vh;
}

.Grid-action input[type="button"]:active {
  outline: none;
  background-color: #201c2b;
}

.Grid-action input[type="button"]:focus {
  outline: none;
  box-shadow: 0px 0px 2px #201c2b;
}

.Grid-rows {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-flow: nowrap;
}

.Grid-cell {
  border: 1px black solid;
  background-color: white;
  flex: 1 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.Grid-cell-checked {
  border: 1px black solid;
  background-color: green;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
