.Config {
  font-family: Arial, Helvetica, sans-serif;
}

.Config-select {
  border: 0.1em solid #6441a4;
  border-top-left-radius: 5px;
  background-color: #6441a4;
}

.Confif-select:focus {
  outline: none;
}

.Config-content {
  border: 0.15em solid #6441a4;
  border-radius: 5px;
  border-top-left-radius: 0;
  padding: 20px;
  background-color: #201c2b;
  display: flex;
  flex: 1;
}

.Config-light {
  color: white;
}

.Config-dark {
  color: white;
}
